@model Repositories.DTO.Correspondence

@{
    ViewBag.Title = "Dialog";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="content-wrapper">
    <span class="change-rating" style="display: none;">
        <input type="hidden" class="post-id" value="@Model.PostId"/>
    </span>
    
    <div class="title-news">
        @Model.PostTitle
        <div class="token-identity"></div>
    </div>
    
    <div class="komments-block">
        <div class="komments-block-body">

            @if (Model.Messages.Count > 0)
            {
                foreach (var item in Model.Messages)
                {
                <div class="komment-wrapper">
                    <div class="hoch-line-news clearfix">
                        <div class="date-part float-left">
                            @item.DateCreation
                        </div>
                        <div class="rating-part float-right">
                            @if (User.Identity.IsAuthenticated && (string)Session["Role"] != "Anon")
                            {
                                <span class="change-rating">
                                    <input type="hidden" class="kommentar-id" value="@item.KommentId"/>
                                    <span class="up-komment-rating">
                                        <a class="btn">
                                            <img src="~/Images/Rating/rating_y_up.png" /></a></span>
                                    <label class="label-rating">@item.Rating</label>
                                    <span class="down-komment-rating">
                                        <a class="btn">
                                            <img src="~/Images/Rating/rating_t_down.png" /></a></span>
                                </span>
                            }
                            else
                            {
                                <label class="label-rating">@item.Rating</label>
                            }
                        </div>
                    </div>
                    <div class="komment-text-wrapper clearfix pos-rel">
                        <input type="hidden" class="kommentar-id" value="@item.KommentId"/>
                        <div class="komment-text">@item.Message</div>
                        <div class="change-and-delete float-right">
                            <div class="change-text-komment">
                                <a href="javascript:void(0)"><img src="~/Images/OptionPost/edit.png"/></a>
                            </div>
                            <div class="delete-komment">
                                <a href="javascript:void(0)"><img src="~/Images/OptionPost/delete.png"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="down-line-news clearfix">
                        <div class="komment-author float-left">
                            Автор:&nbsp;<a class="extend-info-user" href="javascript:void(0)">@item.UserLogin</a>
                        </div>
                        @if (User.Identity.IsAuthenticated && (string)Session["Role"] != "Anon")
                        {
                            <div class="to-answer float-right">
                                <a href="javascript:void(0)">Ответить</a>
                            </div>
                        }
                    </div>
                </div>
                }
            }
            
            <input type="hidden" class="id-komment-to-answer" value="" />
        </div>
        @if (User.Identity.IsAuthenticated && (string)Session["Role"] != "Anon")
        {
            <div class="komments-block-header">
                <div class="clearfix">
                    <div class="float-left">
                        <textarea class="new-text-komments"></textarea>
                    </div>
                    <div class="float-right">
                        <input type="button" class="input-to-add-komment btn btn-primary" value="Комментировать" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/MainPage/ActionInNewsPage.js"></script>